//Divide in blocks of constants
//Constants are selected via the color tool.

//Background Block:
$base: #fafafa;
$base-dark: #e0e0e0;
$base-light: #ffffff;
$on-base: #000000; //defines the font color on the Background

//Colors accents block:
//This will highlight things where use can interact with
$primary: #00bcd4;
$primary-dark: #008ba3;
$primary-light: #62efff;
$on-primary: #ffffff;

//This will highlight things where use can not interact with
$secondary: #ffd54f;
$secondary-dark: #c8a415;
$secondary-light: #ffff81;
$on-secondary: #000000;

//Error
$error: #b00020;
$on-error: #ffffff;

//Success
$success: #99aa00;
$on-success: #ffffff;
